---
name: Build CloudFront Environment

on:
  workflow_call:
    outputs:
      cloudfront_domain:
        value: ${{ jobs.terraform-apply.outputs.cloudfront_domain }}
      cloudfront_distribution_id:
        value: ${{ jobs.terraform-apply.outputs.cloudfront_distribution_id }}
      s3_bucket_name:
        value: ${{ jobs.terraform-apply.outputs.s3_bucket_name }}

jobs:
  terraform-apply:
    name: Build CloudFront Environment
    runs-on: ubuntu-24.04

    permissions:
      id-token: write
      contents: read

    concurrency:
      group: terraform-apply-${{ github.ref }}
      cancel-in-progress: false

    outputs:
      cloudfront_domain: ${{ steps.get_outputs.outputs.cloudfront_domain }}
      cloudfront_distribution_id: ${{ steps.get_outputs.outputs.cloudfront_distribution_id }}
      s3_bucket_name: ${{ steps.get_outputs.outputs.s3_bucket_name }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v4
      with:
        terraform_wrapper: false

    - name: Get AWS credentials
      uses: aws-actions/configure-aws-credentials@v6
      with:
        aws-region: us-east-1
        role-to-assume: arn:aws:iam::771971951923:role/bpm-preview-provisioning
        audience: sts.amazonaws.com
        role-duration-seconds: 900

    - name: Check Terraform format
      run: terraform fmt -check

    - name: Initialize Terraform
      run: terraform init -backend-config="key=${{ github.ref }}.tfstate"

    - name: Validate Terraform code
      run: terraform validate

    - name: Terraform Apply
      run: terraform apply -var=ref=${{ github.ref }} -auto-approve

    - name: Get Terraform outputs
      id: get_outputs
      run: |
        echo "cloudfront_domain=$(terraform output -raw cloudfront_domain)" >> $GITHUB_OUTPUT
        echo "cloudfront_distribution_id=$(terraform output -raw cloudfront_distribution_id)" >> $GITHUB_OUTPUT
        echo "s3_bucket_name=$(terraform output -raw s3_bucket_name)" >> $GITHUB_OUTPUT
