---
name: Destroy CloudFront Environment

on:
  pull_request:
    types:
      - closed

  workflow_dispatch:
    inputs:
      pull_request_number:
        description: The pull request that should be destroyed
        required: true
        type: number

jobs:
  terraform-destroy:
    name: Destroy CloudFront Environment
    runs-on: ubuntu-24.04

    permissions:
      id-token: write
      contents: read

    concurrency:
      group: terraform-apply-refs/pull/${{ github.event.number || inputs.pull_request_number }}/merge
      cancel-in-progress: false

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v4
      with:
        terraform_wrapper: false

    - name: Get AWS credentials
      uses: aws-actions/configure-aws-credentials@v6
      with:
        aws-region: us-east-1
        role-to-assume: arn:aws:iam::771971951923:role/bpm-preview-provisioning
        audience: sts.amazonaws.com
        role-duration-seconds: 900

    - name: Initialize Terraform
      run: terraform init -backend-config="key=refs/pull/${{ github.event.number || inputs.pull_request_number }}/merge.tfstate"

    - name: Terraform Destroy
      run: terraform destroy -var=ref=refs/pull/${{ github.event.number || inputs.pull_request_number }}/merge -auto-approve
